<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
	<section>
    <div class="con">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
              <a class="navbar-brand" href="#">Find Cancer</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item ">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Result</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Final result</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>      
    </div>
</section>

<section style="margin-top:20px">

	<h1 style="margin: 20px;"> Result is as follows:</h1>
	<div class="container">
	<div class="jumbotron">
	  <h3 > Benign and malignant Breast Cancer</h3>
	  <p class="lead">A tumor can be benign (not dangerous to health) or malignant (has the potential to be dangerous). Benign tumors are not considered cancerous: their cells are close to normal in appearance, they grow slowly, and they do not invade nearby tissues or spread to other parts of the body. </p>
	  <hr class="my-4">
	  <h4 class="text-danger">Accuracy of Breast Cancer Detection System using textdata set: {{accuracy}}</h4>
	  <h4 class="text-danger"> We found that Symptom looks like {{diagnosis}}  Tumor.</h4>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="https://www.breastcancer.org/symptoms/understand_bc/what_is_bc" role="button">Learn more</a>
	  </p>
	</div>
</section>
<!-- <section style="margin-top:20px">
	<div class="card text-white bg-danger mb-3" >
	  <div class="card-header">Header</div>
	  <div class="card-body">
	    <h4 class="card-title"></h4>
	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	  </div>
	</div>
</section> -->
 

</body>
</html>
